<div class="newsletter-popup mfp-hide" id="newsletter-popup-form" >
  <div class="bgnews"></div>
  <div class="newsletter-popup-content">
    <img src="assets/images/logo.png" alt="Logo" class="logo-newsletter">
    <h2>Sé el primero en enterarte</h2>
    <p class="mb-2">Suscríbete para obtener promociones y descuentos exclusivos.</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" >
      <div class="footer-submit-wrapper d-flex" *ngIf="!showMessage">
        <input
                name="email"
                formControlName="email"
                id="email"
                ngModel
                type="email"
                class="form-control"
                placeholder="Correo electrónico..."
                size="40"
                required>
        <button
                type="submit"
                [ngClass]="{'active': !form.invalid}"
                [disabled]="form.invalid"
                class="btn btn-dark btn-sm"
        >Suscribirse
        </button>
      </div>
      <div class="MessageSubscription" *ngIf="showMessage">
        <small>GRACIAS POR SUSCRIBIRTE</small>
      </div>
    </form>
    <div class="newsletter-subscribe">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="1" (click)="_AppService.dismissedNewsletterPopup()">
          No volver a mostrar
        </label>
      </div>
    </div>
  </div><!-- End .newsletter-popup-content -->
</div><!-- End .newsletter-popup -->
