.newsletter-popup {
  background-color: initial;
  background-size: cover;
  background-image: url(/assets/images/slider/slide1.jpg);
  background-repeat: no-repeat;
  background-position: center;

}

.newsletter-popup-content {
  padding: 10px;
  z-index: 200;
  position: inherit;
}

.newsletter-popup-content .btn {
  text-align: center;
  background: #12ABB5;
  color: #fff;
  margin: 15px auto;
  padding: 15px 15px;
}

.newsletter-popup h2 {
  color: #12ABB5;
}

.bgnews {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 100;
}
