.product-single-image {
  max-height: 400px;
  object-fit: contain;
}

.thumbnail {
  height: 150px;
  object-fit: cover;
}

.suspendido{
  position: absolute;
  z-index: 100;
  left: 0;
  /* right: 53px; */
  width: 150%;
  padding: 10px 0px;
  color: #fff;
  background-color: #12ABB5;
  font-size: 30px;
  text-align: center;
  transform: rotate(-40deg);
  bottom: 25%;
  font-weight: bold;
}

@media (max-width: 812px) {
  .suspendido{
    font-size: 24px;
  }
}

.prod-thumbnail > .owl-dot{
  max-width: 25%;
}

.over-suspendido{
  overflow: hidden;
  position: absolute;
  z-index: 100;
  right: 0;
  width: 100%;
  background-color: rgb(0 0 0 / 0.3);
  top: 0;
  bottom: 0;
}
