<div class="footer-right">
  <div class="social-icons">
    <a href="https://www.facebook.com/Escuela-para-Embarazadas-141564679232115/"
       class="social-icon social-facebook icon-facebook" target="_blank"></a>
    <a href="https://api.whatsapp.com/send?phone=+51992276497&text=Hola%20quisiera%20saber%20mas%20sobre%20los%20productos%20"
       class="social-icon social-whatsapp" target="_blank">
      <i class="fab fa-whatsapp"></i>
    </a>
    <a href="https://www.instagram.com/escuela_para_embarazadas/"
       class="social-icon social-instagram icon-instagram" target="_blank"></a>
    <a href="https://www.tiktok.com/@escuelaparaembarazadas?lang=es/"
       class="social-icon social-tiktok icon-tiktok" target="_blank">
      <i class="fab fa-tiktok"></i>
    </a>
  </div><!-- End .social-icons -->
</div>
