<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/"><i class="icon-home"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Nosotros</li>
      </ol>
    </div><!-- End .container -->
  </nav>

  <div class="page-header">
    <div class="container">
      <h1>Nosotros</h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->

  <div class="container">
    <div class="cont-video">
      <video controls>
        <source src="assets/videoAbout.wmv" type="video/wmv">
        <source src="assets/videoAbout.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div><!-- End .container -->

  <div class="container">
    <div class="row row-sparse">
      <div class="col-lg-4 col-md-6 col-sm-12 misiones">
        <h2 class="mb-4">¿Quiénes somos?</h2>
        <p>Somos una institución privada de servicios de salud, dedicada a la preparación integral de la embarazada; a
          través del
          entrenamiento físico, abordaje psicológico, social y educación en salud materno perinatal, para una
          maternidad
          saludable. Basada en personas con valores, contando con profesionales altamente competitivos con amplia
          experiencia y certificación nacional e internacional.
        </p>
        <div class="image ">
          <img src="assets/images/about/LINCE%20ACTUAL.jpg"/>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 misiones">
        <h2 class="mb-4">Misión</h2>
        <p>
          Contribuir a la salud materno perinatal, brindando a la embarazada servicios integrales de preparación para
          el
          parto y pruebas de bienestar fetal, con profesionales altamente competitivos y tecnología de punta. Con la
          calidad, responsabilidad, seguridad y confianza que nos caracteriza.
        </p>
        <div class="image">
          <img src="assets/images/about/SedeMiraflores2.JPG"/>
        </div>
      </div><!-- End .col-lg-7 -->
      <div class="col-lg-4 col-md-6 col-sm-12 misiones">

        <h2 class="mb-4">Visión</h2>
        <p class="vision">Ser una Institución reconocida a nivel nacional e internacional por brindar bienestar materno
          fetal.</p>
        <div class="image">
          <img src="assets/images/about/SedeMiraflores5.JPG"/>
        </div>
      </div><!-- End .col-lg-7 -->

    </div><!-- End .row -->

  </div><!-- End .container -->


  <div class="history-section">
    <div class="container">
      <h2 class="title-team">Nuestro Equipo</h2>

      <div class="row row-sparse">
        <div class="member">
          <div class="member-1">
            <img src="assets/images/about/1.png"/>
          </div>
          <h2 class="mb-4">Socorro Sánchez Cadillo</h2>
          <h3> Obstetra</h3>
        </div><!-- End .col-lg-7 -->


        <div class="member">
          <div class="member-1">
            <img src="assets/images/about/6.png"/>
          </div>
          <h2 class="mb-4">Cinthya Huete Félix</h2>
          <h3> Obstetra</h3>
        </div><!-- End .col-lg-7 -->

        <div class="member">
          <div class="member-1">
            <img src="assets/images/about/3.png"/>
          </div>
          <h2 class="mb-4"> Roxana Tello Vidal</h2>
          <h3> Obstetra</h3>
        </div><!-- End .col-lg-7 -->

        <div class="member">
          <div class="member-1">
            <img src="assets/images/about/1.png"/>
          </div>
          <h2 class="mb-4">Anita Ramírez Ocaña </h2>
          <h3> Nutricionista</h3>
        </div><!-- End .col-lg-7 -->

        <div class="member">
          <div class="member-1">
            <img src="assets/images/about/5.png"/>
          </div>
          <h2 class="mb-4"> Mónica Mezarina Piedra
          </h2>
          <h3> Psicóloga</h3>
        </div><!-- End .col-lg-7 -->

        <div class="member">
          <div class="member-1">
            <img src="assets/images/about/2.png"/>
          </div>
          <h2 class="mb-4">Felipe Loo Choy </h2>
          <h3>Ginecólogo Obstetra</h3>
        </div><!-- End .col-lg-7 -->

        <div class="member">
          <div class="member-1">
            <img src="assets/images/about/3.png"/>
          </div>
          <h2 class="mb-4">Julia Sánchez Bermudez</h2>
          <h3> Pediatra</h3>
        </div><!-- End .col-lg-7 -->

        <div class="member">
          <div class="member-1">
            <img src="assets/images/about/1.png"/>
          </div>
          <h2 class="mb-4">Sarita Ruiz Gómez de la Torre</h2>
          <h3> Especialista en Estimulación Temprana</h3>
        </div><!-- End .col-lg-7 -->

        <div class="member">
          <div class="member-1">
            <img src="assets/images/about/5.png"/>
          </div>
          <h2 class="mb-4">Jacqueline Villalobos Saldaña</h2>
          <h3> Especialista en Estimulación Temprana</h3>
        </div><!-- End .col-lg-7 -->

      </div><!-- End .container -->
    </div>
  </div><!-- End .row -->

  <div class="history-section">
    <div class="container">
      <h2 class="title-team">Valores</h2>

      <div class="row row-sparse">
        <img src="assets/images/about/EPE-VALORES-01.jpg" alt="">
      </div>
    </div>
  </div><!-- End .row -->

  <div class="mb-8"></div><!-- margin -->
</main><!-- End .main -->
