<div class="checkout-discount">
  <h4>
    <a data-toggle="collapse" href="#checkout-discount-section" class="collapsed" role="button" aria-expanded="false" aria-controls="checkout-discount-section">Aplicar cupón de descuento</a>
  </h4>
  <div class="collapse show" id="checkout-discount-section">
    <form action="#">
      <input type="text" class="form-control form-control-sm" placeholder="Ingrese cupón"  required>
      <button class="btn btn-sm btn-outline-secondary" type="submit">Aplicar</button>
    </form>
  </div><!-- End .collapse -->
</div><!-- End .checkout-discount -->
