<script src="restrictions.component.ts"></script>
<div class="restrictions-popup" id="restrictions-popup-form" [class.active]="_AppService.modals.restrictions">
  <div class="close" (click)="_AppService.hideAllModals()">x</div>
  <div class="restrictions-popup-content">
    <h1>Condiciones generales y prestación del servicio de venta online</h1>

    <p class="mb-2">
      Las presentes Condiciones Generales de Uso se aplican a las ventas efectuadas través de la tienda online
      localizada en la dirección web www.escuelapraembarazadas.com. El acceso a este sitio web o su utilización en
      cualquier forma implica la aceptación de las presentes condiciones generales.
    </p>

    1. Precios
    <p class="mb-2">
      Todos los precios de nuestros productos se muestran en SOLES e indican el precio final y cuando corresponda
      el precio inicial tachado, incluye el IGV y gastos de envío según condiciones (*) , así como los gastos de
      envío. El precio que indica cada producto es su precio vigente en cada momento y el que será aplicable al
      realizar un pedido. Escuela para embarazadas se reserva el derecho a modificar los precios en cualquier
      momento sin previo aviso, en cuyo caso se compromete a aplicar los precios indicados en cada producto en el
      momento de la realización de su pedido.
    </p>
    <div class="numb"> 2. Pedidos</div>
    <p class="mb-2">
      El hecho de realizar un pedido en la tienda online de Escuela para Embarazadas equivale a la aceptación
      plena y entera de los precios, de la descripción de los productos a la venta y de las condiciones generales
      de venta, que serán las únicas aplicables al contrato así concluido.
    </p>
    <p class="mb-2">
      Para realizar una compra es requisito imprescindible estar registrado, para ello, el usuario interesado
      rellenará un sencillo formulario Web, una vez registrado e identificado como cliente, el usuario está
      capacitado para realizar compras. El cliente debe facilitar de manera cierta y correcta su nombre, dirección
      de correo electrónico, DNI, dirección postal y/u otros datos de contacto, declarando conocer que se puede
      hacer uso de esta información para ponerse en contacto si es necesario de acuerdo con la Política de
      Privacidad – Confidencialidad estipulada por el Estado.
      Si el cliente deseara comunicarse en relación a la compra, debe de escribirnos a
      contacto@escuelapraembarazadas.com
      Para realizar un pedido, el cliente deberá seguir el proceso de compra online desde la elección de productos
      hasta el pago. Todo el proceso se realizará mediante conexión segura y cifrada. Al finalizar un pedido, el
      cliente recibirá una confirmación del pedido (por correo electrónico o desde la Web), que tendrá validez
      como comprobante de compra. Junto a su pedido, recibirá una factura o boleta de compra según solicitud.
      El estado de su entrega será comunicado por correo electrónico
    </p>

    <div class="numb"> 3. Pagos</div>
    <p class="mb-2">
      En el momento que se confirman los artículos que componen el pedido, se mostrará el precio final a pagar,
      que está integrado por el precio de cada artículo con sus correspondientes impuestos aplicables más los
      gastos de envío de corresponder. (*)
    </p>
    <p class="mb-2">
      El cliente puede abonar su compra mediante el uso de tarjeta de crédito o de débito. Para ello, el cliente
      será re direccionado al servidor seguro de nuestras entidades bancarias ligadas, donde procederá al pago de
      forma completamente segura. Al finalizar el proceso de pago, volverá a la tienda online, donde será
      notificado del resultado de la operación.
    </p>
    <div class="numb"> 4. Envíos</div>
    <p class="mb-2">
      Los pedidos serán enviados previa coordinación con el comprador, mediante nuestro propio personal, de quien
      haremos llegar al cliente su identidad en digital.
    </p>
    (*) Los envíos se ejecutarán dentro de las 48 horas excluyendo sábados, domingos o feriados, teniendo las
    siguientes precisiones.
    <ol class="list-send">
      <li>Delivery sin costo desde S/50 soles de compra en los siguientes distritos: Jesús María, Lince, Pueblo
        Libre,
        Magdalena, San Miguel, San Isidro; Miraflores.
      </li>
      <li>Delivery con costo de envío de S/10 soles: San Borja, Surco, La Molina, Barranco, Chorrillos.</li>
      <li>Otros distritos y provincias, consulta previa al W: 992276 497</li>
    </ol>
    <p class="mb-2">
      FAST DELIVERY, entrega dentro de las 12 horas de compra, con un costo adicional de S/10 soles.
    </p>

    <p class="mb-2">
      El usuario se compromete a identificarse, firmar y/o toma de una foto, la misma que dará conformidad a la
      recepción del producto.
    </p>
    <p class="mb-2">
      En razón de que la entrega es coordinada y la entrega sea fallida con evidencia, el cliente deberá acercarse
      a
      recoger su pedido a nuestra Central de Ventas Av. Arequipa 2080-307 Lince, previa coordinación al 012657335,
      en
      el horario de lunes a sábado de 10 a 6 pm).
    </p>
    <div class="numb">5. Cambios, Devoluciones, Soporte técnico de Extractores</div>
    <p class="mb-2">
      El compromiso de Escuela para Embarazadas es ofrecer la máxima calidad y lograr una total satisfacción de
      nuestros clientes y la salubridad de los mismos, por tanto, estas son las limitantes a la devolución:
    </p>
    <ol class="list-change">
      <li>Prendas íntimas: brasieres, fajas, ropa de bebés, extractores de leche.</li>
      <li>Si desea solicitar cambios excepcionales, el producto debe estar con empaque íntegro y acompañar el
        comprobante de pago, teniendo un plazo de siete (7) días desde la recepción del producto y comunicarse
        previamente con la Central de Ventas (012657335) para ver opciones de color o talla de corresponder.
      </li>
      <li>Sobre la eventual devolución de dinero por no entrega del producto se hará por el mismo medio de pago que se
        realizó la compra.
      </li>
    </ol>

    <p class="mb-2">
      Soporte técnico de Extractores MEDELA, se hará por el proveedor de marca que en el momento de compra se le
      hace llegar.
    </p>
    <div class="numb"> 6. Seguridad en los accesos y el pago</div>
    <p class="mb-2">
      Para Escuela para Embarazadas, es fundamental la seguridad de los clientes a la hora de comprar. Con el
      objetivo de proteger la transmisión de información confidencial, el servidor Web de Escuela para Embarazadas
      cuenta con un protocolo de encriptación de datos permitiendo así que las operaciones se realicen de forma
      segura.
    </p>
  </div><!-- End .restrictions-popup-content -->
</div><!-- End .restrictions-popup -->
