.category-banner h2 {
  font-family: "Lobster", cursive;
  font-size: 45px !important;
  color: #baa1c1;
  margin-bottom: 1.5rem !important;
  text-transform: capitalize;
}

.category-banner h3 {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  color: gray;
  font-size: 18px;
}
