<ul class="pagination toolbox-item">
  <li class="page-item" (click)="prevPage()" *ngIf="paginatorSettings.currentPage !== 1">
    <a class="page-link page-link-btn"><i class="icon-angle-left"></i></a>
  </li>

  <li class="page-item"
      *ngFor="let page of calcPagesArray()"
      [class.active]="page + 1 === paginatorSettings.currentPage"
      (click)="goToPage(page + 1)">
    <a class="page-link">{{ page + 1 }} <span class="sr-only">(Actual)</span></a>
  </li>


  <li class="page-item" (click)="nextPage()" *ngIf="paginatorSettings.pages !== paginatorSettings.currentPage">
    <a class="page-link page-link-btn"><i class="icon-angle-right"></i></a>
  </li>
</ul>
