<div class="restrictions-popup" id="restrictions-popup-form" [class.active]="_AppService.modals.shipping">
  <div class="close" (click)="_AppService.hideAllModals()">x</div>
  <div class="restrictions-popup-content">
    <h1>Condiciones de Envío</h1>

    (*) Los envíos se ejecutarán dentro de las 48 horas excluyendo sábados, domingos o feriados, teniendo las
    siguientes precisiones.

    <ol class="list-send">
      <li>Delivery sin costo desde S/50 soles de compra en los siguientes distritos: Jesús María, Lince, Pueblo
        Libre,
        Magdalena, San Miguel, San Isidro; Miraflores.
      </li>
      <li>Delivery con costo de envío de S/10 soles: San Borja, Surco, La Molina, Barranco, Chorrillos.</li>
      <li>Otros distritos y provincias, consulta previa al Whatsapp:(+51) 992276497</li>
    </ol>
  </div>
</div>
